@import url(https://fonts.googleapis.com/css?family=Fjalla+One|Quicksand:400,700);

body {
	background: #fff;
	font-family: 'Quicksand', sans-serif;
	a {
		color: #A4050D;
		text-decoration: none;
		&:hover {
			text-decoration: underline;
		}
		&:visited {
			color: #A4050D;
		}
	}
}

.nomar {margin:0!important}
.nopad {padding:0!important}
.m-t-xs{margin-top:5px !important}
.m-b-xs{margin-bottom:5px !important}
.m-r-xs{margin-right:5px !important}
.m-l-xs{margin-left:5px !important}
.m-t-sm{margin-top:10px !important}
.m-b-sm{margin-bottom:10px !important}
.m-r-sm{margin-right:10px !important}
.m-l-sm{margin-left:10px !important}
.m-t-md{margin-top:15px !important}
.m-b-md{margin-bottom:15px !important}
.m-r-md{margin-right:15px !important}
.m-l-md{margin-left:15px !important}
.m-t-lg{margin-top:30px !important}
.m-b-lg{margin-bottom:30px !important}
.m-r-lg{margin-right:30px !important}
.m-l-lg{margin-left:30px !important}
.m-t-xl{margin-top:50px !important}
.m-b-xl{margin-bottom:50px !important}
.m-r-xl{margin-right:50px !important}
.m-l-xl{margin-left:50px !important}
.m-v-xs{margin:5px 0 !important}
.m-v-sm{margin:10px 0 !important}
.m-v-md{margin:15px 0 !important}
.m-v-lg{margin:30px 0 !important}
.m-v-xl{margin:50px 0 !important}
.m-h-xs{margin:0 5px !important}
.m-h-sm{margin:0 10px !important}
.m-h-md{margin:0 15px !important}
.m-h-lg{margin:0 30px !important}
.m-h-xl{margin:0 50px !important}

.text-center {
	text-align: center;
}
.list-inline {
	list-style: none;
	margin: 0;
	padding: 0;
	li {
		display: inline;
	}
}
.list-unstyled {
	list-style: none;
	margin: 0;
	padding: 0;
}

.flex-ctr {
	position: absolute;
	display: table;
	top: 50%;
	left: 50%;
	margin: 0;
	padding: 0;
	@include transform(translate(-50%,-50%));	
	&.alt-ctr {
		top: 0%;
		padding: 50px 0;
		@include transform(translate(-50%,0%));	
	}
}

.main-logo {
	background: url("../images/logo.png") no-repeat center center;
	text-indent: -9999px;
	overflow: hidden;
	height: 404px;
	width: 210px;
	display: table;
	margin: 0 auto 15px;
	@media only screen and (-webkit-min-device-pixel-ratio: 2.0),
	(min-resolution: 192dpi) {
		background: url("../images/logo@2x.png") no-repeat center center;
		background-size: cover;
	}
}

.main-nav {
	ul {
		padding: 0;	
		margin: 0 auto;
		display: table;
		li {
			display: table-cell;
			padding: 15px 20px;
			a {
				display: block;
				height: 50px;
				width: 50px;
				border: 3px solid #A4050D;
				position: relative;
				@include rounded(50px);
				@include transition(.2s ease-in);
				span {
					display: block;
					position: absolute;
					@include transition(.2s ease-in);
				}
				&:hover {
					@include transform(scale(1.1));
					span {
						background: #A4050D;
					}
					em {
						color: inherit;
						bottom: -30px;
						@include transition(.2s ease-out);
					}
				}
				&.ps-about {
					span {
						height: 100%;
						width: 50%;
						@include rounded(50px 0 0 50px);
					}
				}
				&.ps-menu {
					span {
						height: 50%;
						width: 100%;
						bottom: 0;
						@include rounded(0 0 50px 50px);
					}
				}
				&.ps-contact {
					span {
						height: 100%;
						width: 50%;
						right: 0;
						@include rounded(0 50px 50px 0);
					}
				}
				em {
					color: transparent;
					font-size: .8em;
					font-style: normal;
					position: absolute;
					width: 100%;
					text-align: center;
					bottom: 0;
				}
			}
		}
	}
}

.pg-content {
	width: 960px;
	max-width: 960px;
	margin-bottom: 50px;
	line-height: 1.6em;
	&.ps-menu {
		width: 500px;
	}
}

.ps-menu {
	li.menu-list {
		display: table;
		width: 100%;
		margin-bottom: 10px;
	}
	.menu-header {
		background: #f1f1f1;
		padding: 3px 15px;
		margin-top: 10px;
	}
	.ps-item,
	.ps-price {
		display: table-cell;
	}
	// .ps-item {
	// 	width: 80%;
	// }
	.ps-price {
		padding-left: 20px;
		text-align: right;
	}
	p {
		margin: 0;
	}
	.item-desc {
		font-size: .9em;
		line-height: 1.4em;
		color: #999;
	}
}

@media (max-width: 767px) {
	.flex-ctr {
		margin: 30px auto;
		padding: 0 30px;
		&.alt-ctr {
			left: 0%;
			@include transform(translate(0%,0%));
		}
	}
	.pg-content,
	.pg-content.ps-menu {
		width: 100%;
		max-width: 100%;
	}
}
